<aside class="aside">
  <h3>Na skróty</h3>
	<!-- <ul>
    {{ range .Site.Menus.side }}
      <li><a href="{{.URL}}">{{.Name}}</a></li>   
    {{- end }}
    <li class="contact">Kontakt z nami</li>
    <li class="phone"><a href="tel:+48510450576" class="phone"><svg class="aside-icon"><use xlink:href="#mobile" /></svg>510 450 576</a></li>
    <li class="phone"><a href="tel:+48888766366" class="phone"><svg class="aside-icon"><use xlink:href="#mobile" /></svg>888 766 366</a></li>
    <li class="mail"><a href="mailto:kontakt@biurocenturion.pl" class="mail"><svg class="aside-icon email"><use xlink:href="#mail" /></svg>kontakt@<br>biurocenturion.pl</a></li>
  </ul> -->
</aside>