<footer class="footer">
  <div class="container">
    <h3>Mayo Water Solutions</h3>
    <p class="contact-data"><a class="phone"><svg class="icon"><use xlink:href="#marker" /></svg>Office M/13, Building No 146, Ibn Seena Street, Al-Muntaza (Area 24), Doha, Qatar</a></p>
    <p class="contact-data"><a href="tel:+97433731378" class="phone"><svg class="icon"><use xlink:href="#mobile" /></svg>+974 33 73 13 78</a></p>
    <p class="contact-data"><a href="mailto:info@mayowatersolutions.com" class="mail"><svg class="icon"><use xlink:href="#mail" /></svg>info@mayowatersolutions.com</a></p> 
  </div>
</footer>
