<footer class="footer">
  <div class="container">
    <h3>Mayo Water Solutions</h3>
    <p class="contact-data"><a href="/" class="phone"><svg class="icon"><use xlink:href="#marker" /></svg>Qatar Somewhere 14 </a></p>
    <p class="contact-data"><a href="tel:+00000000" class="phone"><svg class="icon"><use xlink:href="#mobile" /></svg>+00 123 123 123</a></p>
    <p class="contact-data"><a href="mailto:info@mayowatersolutions.com" class="mail"><svg class="icon"><use xlink:href="#mail" /></svg>info@mayowatersolutions.com</a></p> 
  </div>  
</footer>