<header class="header">
    {{ partial "svgdefs" . }} 
  <div class="menu-button-c">
    <div class="menu-button"><span></span></div>
  </div>
  <div class="branding">
    <div class="branding-logo">
      <a href="/" class="logo">
        <!-- <img src="/images/centurion-logo.svg" alt=""> -->
        <svg><use xlink:href="#mayows-logo" /></svg>
      </a> 
    </div>
    <div class="branding-text">

      <h1 class="branding-name">{{ if .IsPage}}<span class="page-title">{{ .Title }}</span>{{end}}<span class="site-title">{{ .Site.Title}}</span></h1>

    </div>   
  </div>
  {{ partial "menu" . }}  
</header>
