<header class="{{ if .IsHome }}v-header{{ end }} container header">
    {{ partial "svgdefs" . }} 
  
  <div class="branding-top">
    <div class="branding-logo">
      <a href="/" class="logo">
        <svg><use xlink:href="#mayows-logo" /></svg>
      </a> 
    </div>
    <div class="menu-button-c">
      <div class="menu-button"><span></span></div>
    </div>
    {{ partial "menu" . }}
    
  </div>
  {{if .IsHome}}
  <div class="fullscreen-video-wrap" id="videoWrap">
  <div class="image-wrapper"></div>
  </div>
  <div class="header-overlay"></div>
  <div class="header-content">
    <h1>Water solutions</h1>
    <p>We are innovation</p>
    <a href="/products/" class="btn">Meet our products</a>
  </div>
  {{ else }}

  <h1 class="page-title big-text">
    {{ if eq .Section "products" }}{{ if not .Data.Pages }}<span>Products</span><br><strong>{{ .Params.product.name }}</strong>{{else}}{{ .Title}}{{end}}
    {{ else if eq .Section "pages"}}{{.Title}}
    {{ else }} {{.Title}}
    {{end}}</h1>
  <!-- <div class="header-overlay"></div>   -->
  {{if .Params.description}}
    <p class="title-description">{{.Params.description}}</p> 
    {{ end }}
  {{end}} 
</header>
