<div id="map" style="margin:2em 0;height:500px;width:100%" class="main-image"></div>
<script>
	function initMap() {
		var mws = {lat: 25.270551, lng: 51.519289};
		var map = new google.maps.Map(document.getElementById('map'), {
			zoom: 14,
			center: mws,
			mapTypeId: 'hybrid'
		});
		var marker = new google.maps.Marker({
			position: mws,
			map: map
		});
	}
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAX9bhLzUrE6FcgbNg-Rqy7g6U0MqRTJ5A&callback=initMap">
</script> 