<!--{{- if .Site.Menus.main }}
<nav class="menu" >
	<ul>
		{{- $currentNode := . }}
		{{- range sort .Site.Menus.main }}
		{{- if .Name}}
		<li>
			<a {{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }}class="is-active"{{end}} href="{{ .URL }}">{{ .Name  }}</a></li>
		{{- end }}
		{{- end }}
	</ul>
</nav>
{{ else -}}
{{- end }}-->
<nav class="menu-container">
	<ul>
		<li><a href="/" class="">About</a></li>
		<li><a href="/pages/our-services/">Our Services</a></li>
		<li><a href="/products/">Reverse Osmosis</a></li>
		<li><a href="/pages/our-people/">Our People</a></li>
		<li><a href="/pages/contact/">Contact</a></li>
	</ul> 
</nav>