<!--{{- if .Site.Menus.main }}
<nav class="menu" >
	<ul>
		{{- $currentNode := . }}
		{{- range sort .Site.Menus.main }}
		{{- if .Name}}
		<li>
			<a {{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }}class="is-active"{{end}} href="{{ .URL }}">{{ .Name  }}</a></li>
		{{- end }}
		{{- end }}
	</ul>
</nav>
{{ else -}}
{{- end }}-->
<nav class="menu-container">
	<ul>
		<li><a href="/product/e-40h/" class="is-active">About</a></li>
		<li><a href="">Services</a></li>
		<li><a href="">Solutions</a></li>
		<li><a href="">Products</a></li>
		<li><a href="">Contact</a></li>
	</ul> 
</nav>