
<!-- <nav class="menu-container">
	<ul>
		<li><a href="/" class="">About</a></li>
		<li><a href="/pages/our-services/">Our Services</a></li>
		<li><a href="/products/">Reverse Osmosis</a></li>
		<li><a href="/pages/our-people/">Our People</a></li>
		<li><a href="/pages/contact/">Contact</a></li>
	</ul> 
</nav> -->
<nav class="menu-container">
	<ul>
    {{ $currentNode := . }}
    {{ range .Site.Menus.main }}
    <li>
			<a href="{{.URL}}"{{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }}class="is-active"{{end}}>{{ .Name }}</a></li>
		{{ end }}
	</ul>
</nav>