<div class="product">
    <h2 class="product-fuel">
        {{ if .Params.product.type.diesel }}
        Diesel engine
        {{ else }}
        Electricty
        {{ end }}
        type<br><span>{{ .Params.product.name }}</span></h2>  
  {{ with .Params.product.image }}
  
    <img class="product-image" src="{{ . }}">
  {{ end }}
  <div class="product-desc">
    <table>
      <tr>
        <th class="thname">Size</th>
      </tr>
      <tr>
        <th>Width:</td>
        <td>{{.Params.product.size.width}}</td>
        <td>mm</td>
      </tr>
      <tr>
        <th>Depth:</th>
        <td>{{.Params.product.size.depth}}</td>
        <td>mm</td>
      </tr>
      <tr>
        <th>Height:</th>
        <td>{{.Params.product.size.height}}</td>
        <td>mm</td>
      </tr>
      <tr>
        <th>Weight:</th>
        <td>{{.Params.product.size.weight}}</td>
        <td>kg</td>
      </tr>
      <tr>
        <th class="thname">Water purification amount</th>
      </tr>
      <tr>
        <th>Sweet water:</th>
        <td>{{ .Params.product.wpa.seawater }}</td>
        <td><sup>l</sup>&frasl;<sub>h</sub></td>
      </tr>
      <tr>
        <th>Sea water:</th>
        <td>{{ .Params.product.wpa.sweetwater }}</td>
        <td><sup>l</sup>&frasl;<sub>h</sub> </td>
      </tr>
      {{ if .Params.product.type.diesel }}
      <tr>
        <th class="thname">Fuel tank</th>
      </tr>
      <tr>
          <th>Capacity:</th>
          <td>{{ .Params.product.power}}</td>
          <td>l</td>
      </tr>
      <tr>
        <th>Fuel consumption:</th>
        <td>{{ .Params.product.operation}}</td>
        <td><sup>l</sup>&frasl;<sub>h</sub></td>
      </tr>
      {{ else }}
      <tr>
        <th class="thname">Use power</th>
      </tr>
      <tr>
        <th colspan="3">{{ .Params.product.power}}</th>
      </tr>
      <tr>
        <th class="thname">Continous operation:</th>
      <tr>
        <th>Time:</th>
        <td>{{ .Params.product.operation}}</td>
        <td>h</td>
      </tr>
      {{ end }}
    </table>
  
  <div class="buy-button">
    
    <span class="section-link margin-top content-on-sides">
      <span id="buy" class="button  colored" data-letters="Buy {{.Params.product.name | safeHTML}}">Buy {{.Params.product.name | safeHTML}}</span>
      <a href="/products/" class="button with-text" data-letters="All products">All products</a>
    </span>
    
    
  </div>
  <div class="buy-data">
    <p class="contact-data"><a href="tel:+00000000" class="phone"><svg class="icon"><use xlink:href="#mobile" /></svg>+00 123 123 123</a></p>
    <p class="contact-data"><a href="mailto:info@mayowatersolutions.com" class="mail"><svg class="icon"><use xlink:href="#mail" /></svg>info@mayowatersolutions.com</a></p> 
  </div>
</div>
</div>