
/* html,body,.wrapper,header{
  height:100%;
} */
body{
  /* font-family: var(--font-system); */
  font-family: var(--font-sans);
  font-size: var(--font-size-base);
  /* background: var(--body-background); */
  /* background: color(var(--dark) lightness(90%)); */
  background: #fff;
  color: var(--dark);
  line-height: 1.5;
  
}
.fonts-stage-1 body{
  font-family: var(--font-serif-optimized);
}
.fonts-stage-2 body{
  font-family: var(--font-serif);
}
:--headings{
  font-weight: var(--font-weight-bold);
  font-family: var(--font-system);
  font-family: var(--font-sans);
  margin:0;
  padding: 0;
  margin: 1.414em 0 0.5em;
  line-height: 1.2;
}
p{
  font-family: var(--font-serif);
}
.fonts-stage-2{
  & :--headings, & .section span, & .contact-data a, & .footer p, & .aside, & .menu li{
    font-family: var(--font-sans);
  }
  & .branding-name{
    font-family: var(--font-serif);
  }
  @media (--viewport-medium){
    & .menu li{
      font-family: var(--font-serif);
    }
  }
}
.big-text{font-size: 6.2em} 
h1 {font-size:var(--m4)em}
h2 {font-size:var(--m3)em}
h3 {font-size:var(--m2)em}
h4 {font-size:var(--m)em}
small{font-size: calc(var(--unit)/var(--m))em}
p:not(.branding-name){
  margin: 0 0 1.3em 0;
}
a{ 
  /* color:var(--color-nav-link); */
  text-decoration:none;
  /* &:hover{
    color:color(var(--color-nav-link) blackness(+50%));
  } */
}
.container{
  max-width: 68em;
  padding-left: var(--unit);
  padding-right: var(--unit);
  margin:auto;
}
img{
  vertical-align: top;
}
.wraapper{
  box-shadow: var(--box-shadow);
  background-color: var(--white);
  z-index: 0;
  /* position: relative; */
}

.highlight{
  line-height: 1.3;
  font-family: var(--font-system);
  font-size: calc(var(--unit)*1.0667);
  font-weight:400;
  padding: calc(var(--unit)*1.2);
  background: linear-gradient(to right, color(var(--dark) lightness(60%)), transparent 1.5%);
    background-color: color(var(--dark) lightness(93%));
    border-left: calc(var(--unit)/6) solid var(--yellow);
}
.font-stage-2 .highlight{
  font-family: var(--font-sans);
}
.no-border{
  border:none;
}
.has-shadow{
  position: relative;
    &::after {
    position: absolute;
    height: 20px;
    width: 100%;
    left: 0;
    bottom: -40px;
    content: "";
    background: radial-gradient(at 50% 0, rgba(0,0,0,0.2), transparent 70%);
    background-size: 100% 10px;
    background-repeat: no-repeat;
  }
}
.icon{
  margin-right:6px;
  &.icon-drop svg{
    /* display: block; */
    width: var(--unit);
    height: var(--unit);
  }
}
