
/* html,body,.wrapper,header{
  height:100%;
} */
body{
  /* font-family: var(--font-system); */
  font-family: var(--font-sans);
  font-size: var(--font-size-base);
  background: color(var(--dark) lightness(97%));
  color: var(--dark);
  line-height: 1.5;
  text-rendering: optimizespeed;
}
.fonts-stage-1 body{
  font-family: var(--font-serif-optimized);
}
.fonts-stage-2 body{
  font-family: var(--font-serif);
}
:--headings{
  color:var(--dark-blue);
  font-weight: var(--font-weight-bold);
  font-family: var(--font-system);
  font-family: var(--font-sans);
  margin:0;
  padding: 0;
  margin: 1.414em 0 0.5em;
  line-height: 1.2;
}
p{
  font-family: var(--font-serif);
}
.fonts-stage-2{
  & :--headings, & .section span, & .contact-data a, & .footer p, & .aside, & .menu li{
    font-family: var(--font-sans);
  }
  & .branding-name{
    font-family: var(--font-serif);
  }
  @media (--viewport-medium){
    & .menu li{
      font-family: var(--font-serif);
    }
  }
}
.big-text{font-size: 6.2em} 
h1 {font-size:var(--m4)em}
h2 {font-size:var(--m3)em}
h3 {font-size:var(--m2)em}
h4 {font-size:var(--m)em}
small{font-size: calc(var(--unit)/var(--m))em}
p:not(.branding-name){
  margin: 0 0 1.3em 0;
}
a{ 
  /* color:var(--color-nav-link); */
  text-decoration:none;
  /* &:hover{
    color:color(var(--color-nav-link) blackness(+50%));
  } */
}
.container{
  max-width: 68em;
  padding-left: var(--unit);
  padding-right: var(--unit);
  margin:auto;
}
img{
  vertical-align: top;
}
.fade-out{
  opacity: 0;
}
.wraapper{
  box-shadow: var(--box-shadow);
  background-color: var(--white);
  z-index: 0;
  /* position: relative; */
}

.font-stage-2 .highlight{
  font-family: var(--font-sans);
}
.icon{
  margin-right:6px;
}
.buy-data{visibility: hidden; opacity: 0;transition: all .3s ease;}
.show{visibility: visible; opacity: 1;}
.fstn{font-style: normal;}