.footer{
  background-color: color(var(--dark-blue) lightness(10.5%));
  padding:  var(--m2)em;
  color:color(var(--dark) lightness(+25%));
  @media (--viewport-medium){
    padding: inherit  var(--m2)em;
  }
  & h3{
    text-transform: uppercase;
    font-weight: 300;
    color: color(var(--dark) lightness(85%));
    margin-bottom: var(--m)em;
  }
  & p {
   
    padding: 0;
    margin:.3em 0 !important;
    font-family: var(--font-sans);
    & a{
       color:#aaa;
       color:color(var(--dark) lightness(50%));
       font-weight: 400;
       display: inline-flex;
    }
    & svg {
      fill: color(var(--dark) lightness(+25%));
      fill: var(--blue);
    }
  }
}