.footer{
  background-color: color(var(--dark) lightness(10%));
  padding:  var(--m2)em;
  color:color(var(--dark) lightness(+25%));
  @media (--viewport-medium){
    padding: inherit  var(--m2)em;
  }
  & h3{
    /* margin-top: var(--margin-small);
    margin-bottom: var(--margin-small); */
    text-transform: uppercase;
    font-weight: 300;
    color: #fff;
    margin-bottom: var(--m)em;
  }
  & p {
   
    padding: 0;
    margin:.3em 0 !important;
    font-family: var(--font-sans);
    /* font-weight:bold; */
    & a{
       color:#aaa;
       color:color(var(--black) lightness(+35%));
       font-weight: 500;
       display: inline-flex;
       /* text-transform: uppercase; */
    }
    & svg {
      fill: color(var(--dark) lightness(+25%));
      fill: var(--blue);
    }
  }
}