
.branding-top{
  padding-top:var(--unit);
  display: flex;
  z-index: 6;
  @media (--viewport-medium){
  }
}
.logo{
  display: inline-block;
}

.image-wrapper{
  width: 100%;
  height: 100%;
  background-size:cover;
  background-repeat: no-repeat;
  @media (max-width:992px){
    background-image: url("../images/water-wave720.jpeg");
    background-position: bottom right;
  }
  
  /* z-index: 1; */
  @media (--viewport-large){
    background-image: url("../images/wave-poster.jpg");
    background-position: center center;
  }
}
.v-header{
  height:100vh;
  display: flex;
  flex-direction:column;
}

.fullscreen-video-wrap{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.fullscreen-video-wrap video{
  min-width: 100%;
  min-height: 100%;
  z-index: 1;
}
.header-overlay{
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to top, rgba(255,255,255,.8) 0%, rgba(255,255,255,.6) 30%, rgba(255,255,255,0) 100%);
  z-index:3;
  box-shadow: inset 0 -5px 10px -3px color(var(--dark) alpha(10%)),
  inset 0 -3px 5px -3px color(var(--dark) alpha(30%));
  @media (--viewport-large){
    /* display: none; */
  }
}
.header-content{
  color:var(--dark);
  z-index:5;
  margin-top: auto;
  margin-bottom:2em;
  text-align:center;
  @media (--viewport-medium){
    margin: auto 0;
  }
  @media (--viewport-large){
    margin-bottom: 6em;
  }
  @media (--viewport-xlarge){
    margin: auto 0;
    /* padding-bottom: 8em; */
  }
  & h1 {
    
    font-size: calc(2.488em*1.44);
    margin: 0;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: -.069em;
    line-height: 1;
    @media (--viewport-large){
      /* font-weight: 400; */
      font-size: calc(2.488/1.44*2.488em);
    }
    @media (--viewport-xlarge){
      /* font-weight: 600; */
      font-size: calc(2.488/1.2*2.488em);
    }
  }
  & p {
    font-size: calc(1.44*1.2em);
    font-style: italic;
    margin:.2em 0;
    color: var(--dark-blue);
    @media (--viewport-xlarge){
      font-size: calc(2.488*1em);
      margin:.18em 0;
    }
  }
  & a{
    margin:1em 0;
    text-align: left;
    @media (--viewport-large){
    
    }
  }
}

.logo svg{
  width: 100px;
  height: 40px;
  @media (--viewport-medium){
    width: 150px;
    height: 60px;
    z-index: 2;
  }
  
}
.media-wrapper{
  position:absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width:100%;
  & .image-background{
    background:url("../images/water-wave.jpg");
    background-position: center center;
    width:100%;
    height: 100vh;
    background-size: cover;
    display: none;
  }
}









.menu-button-c{
  top:var(--unit);
  right:0;
  position: fixed;
  z-index: 101;
  
}
.menu-button{
  cursor: pointer;
  display: inline-block;
  width:54px;
  height: 36px;
  position: relative;
  background-color: color(var(--blue) alpha(30%));
  background: linear-gradient(to bottom, color(var(--dark) lightness(100%)), color(var(--dark) lightness(80%)));
  box-shadow: 
    0 7px 14px -3px color(var(--dark) alpha(30%)), 
    0 2px 4px 0 color(var(--dark) alpha(40%)), 
    inset 0 -1px 0 0 color(var(--dark) alpha(24%));
  font-weight: var(--font-weight-bold);
  transition: background-color .5s linear, transform 3s linear .1s;
  overflow: hidden;
  border-radius:999px 0 0 999px;
  & span{
    position: absolute;
    content:"";
    width:30px;
    height: 2px;
    left: 50%;
    top: 50%;
    margin-left: -15px;
    margin-top:0;
    background-color: color(var(--dark) lightness(50%));
    transition:all .5s ease-out .2s;
    transform:translateY(-50%);
  }
  &::before{
    position: absolute;
    content:"";
    width:30px;
    height: 2px;
    left: 50%;
    top: 50%;
    margin-left: -12px;
    margin-top:-6px;
    background-color: color(var(--dark) lightness(50%));
    transition:all .2s ease-out .4s;
    transform:translateY(-50%);
  }
  &::after{
    content:"";
    position: absolute;
    font-size:12px;
    width:30px;
    height: 2px;
    left: 50%;
    top: 50%;
    margin-left: -12px;
    margin-top:6px;
    background-color: color(var(--dark) lightness(50%));
    transition:all .2s ease-out .35s;
    transform:translateY(-50%);
  }
  &.bgchanged{
    background-color: color(var(--white) alpha(70%));
    box-shadow: 0 0 3px rgba(0,0,0, .4);
  }
  
  @media (--viewport-large){
    display: none;
  }
}
.header{
  &.menu-open{
    & .menu-button{
      background-color:transparent;
      &::before{
        content:"";
        margin-top:0;
        transform:rotate(225deg);
      }
      &::after{
        margin-top:0;
        transform:rotate(315deg);
      }
      & span{
        opacity: 0;
        transform: translateX(1000%);
      }
    }
  }
}
 .animation{
  animation: pop .4s linear ;
} 