
.section{
  margin: var(--m)em auto;
}
.section-header{
  font-size: var(--m4)em;
  letter-spacing:-0.02em;

  
}
h2:not(.product-name), h3:not(.product-name, .name, .bioname), h4:not(.product-name){
  text-align:center;
  @media (--viewport-medium){
    text-align:left;
  }
}
.section-image{
  width:100%;
  height: auto;
}
.section-text{
  font-size:1.125em;
  line-height: var(--m2);
  display: flex;
  flex-direction:column;
  margin-top: 1em !important;
  margin-bottom: 0 !important;
  letter-spacing:-0.02em;
  @media (--viewport-medium){
     margin-top:0 !important;
  }
}

.section-link{

  & .icon-drop{
      display: none;
      @media (--viewport-medium){
        display: inline;
      }
    }
}
.products{
  background:linear-gradient( to top, color(var(--dark) alpha(22%)) 0%, color(var(--dark) alpha(7%)) 100%);
}
.product-list{
  display:flex;
  flex-direction: column;
  justify-content:space-between;
  padding: var(--m)em;
  @media (--viewport-medium){
      flex-direction:row;
      flex-wrap:wrap;
    }
}
.products-headline{
  width: 100%;
  margin-bottom: var(--m4)em;
  font-size:var(--m4)em;

  & .section-link{

    @media (--viewport-medium){
      float:right;
      margin-top:0;
      margin-right: 10px;
    }
  }
}
.product-name{
  text-transform:uppercase;
  font-size:var(--m3)em;
}
.product-item{
  margin-bottom: calc(var(--m3)*2em);
  
  & table{
    border-spacing:0;
    width:100%;
    @media (--viewport-medium){
      width:auto;
    }
  }
  & th, & td{
    padding: .5em 0;
  }
  & th{
    text-align: left;
    color: color(var(--dark) lightness(35%));
  }
  & td{
    border-bottom: 1px solid color(var(--dark) lightness(80%));
  }

}
@supports (display: grid) {
  .section{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header "
    "image" 
    "text "
    "line";
    @media (--viewport-medium){
      grid-template-columns: 48% 48%;
      grid-template-areas: 
      "header .  "
      "text image"
      "line line";
      grid-column-gap:4%;
    }
  }
  .section-header{
    grid-area:header;
  }
  .section-text{
    grid-area:text;
  }
  .section-image{
    grid-area:image;
  }
  .section-line{
    color:color(var(--dark) alpha(90%));
    margin-top: 3.5em;
    grid-area:line;
    display: grid;
    grid-template-columns: 50px auto 50px;
    /* font-size:10px; */
    align-items: center;
    grid-column-gap:8px;
    grid-template-rows:11px;
    justify-self:center;
    &::before, &::after{
      content:"";
      height: 1px;
      width: 100%;
      display: block;
      background: color(var(--dark) alpha(50%));
    }
  }
}