.menu{
    visibility:hidden;
    position: fixed;
    top:0;
    left: -100%;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    background-color: color(var(--dark) lightness(10%));
    display: flex;
    transform:translateX(-100%);
    transition: all .35s ease-in 0s;
  & ul{
    display: flex;
    flex-direction: column;
    margin: auto  calc(var(--margin-large)*1.44) ;
    margin: auto  0 ;
    padding: 0;
  }
  & li {
    position: relative;
    display: inline-block;
    margin: calc(var(--margin-small)/2) 0 0 calc(var(--margin-small)*1.44);
    padding-left:calc(var(--margin-small));
    font-weight: var(--font-weight-bold);
    font-size: calc(var(--unit)*1.2*1.2);
    overflow-y: hidden;
    /* font-family:var(--font-sans); */
    &:nth-child(2n) a{
      transition-delay:.32s;
    }
    &:nth-child(3n) a{
      transition-delay:.39s;
    }
    &:nth-child(4n) a{
      transition-delay:.46s;
    }
    &:nth-child(5n) a{
      transition-delay:.53s;
    }
    &:nth-child(6n) a{
      transition-delay:.60s;
    }
    &:nth-child(7n) a{
      transition-delay:.67s;
    }
  }
  & a{
    display: block;
    line-height: 1;
    transform: translateY(var(--unit));
    visibility:hidden;
    transition: all .15s cubic-bezier(0, 0, 0.46, 1.11) .35s;
    &.is-active::before{
      width:.5em;
      height: .5em;
      content:"";
      position: absolute;
      top: 0;
      left: -calc(var(--margin-small));
      background-color: var(--yellow);
      border-radius:50%;
      transform:translateY(50%);
      animation: pulse 1s linear infinite;
    }
  }
  &.is-open{
    visibility: visible;
    left: 0;
    right: 0;
    width:100vw;
    height:100vh;
    transform:translateX(0);
    & a{
      transform: translateY(0);
      visibility: visible;
    }
  }
  
  @media (--viewport-medium){
  display: block;
  visibility: visible;
  position: relative;
  transform:translateY(0);
  width: auto;
  height: auto;
  transition:none;
  background-color: transparent;
  left:0;
    & ul {
      display:flex;
      justify-content:space-around;
      margin:0 0 0 var(--margin-large);
      flex-direction:row;
      padding: 0;
    }
    & li{
      font-size: 1em;
      overflow-y: visible;
      margin: 0;
      padding: 0;
    }
    & a{
      visibility: visible; 
      /* font-family: var(--font-serif); */
      font-weight: var(--font-weight-bold);
      color: var(--dark);
      transform: translateY(0);
    }
  }
}