.page{
  & .header-wrapper{
    min-height:170px;
     /* background:linear-gradient(to bottom, rgba(170,170,170,1), rgba(255,255,255,1) 100%); */
      background-size: 100% 100%;
      background-repeat: no-repeat;
      /* box-shadow: inset 0 -5px 10px -3px color(var(--dark) alpha(10%)),
  inset 0 -3px 5px -3px color(var(--dark) alpha(30%)); */
  padding-bottom: 1em;
  background:var(--dark-blue);
  box-shadow:  0 2px 2px -1px color(var(--dark) alpha(70%)),
  0 5px 10px -1px color(var(--dark) alpha(30%));
   
    @media (--viewport-large){
      min-height:auto;
      position: relative;
      overflow: hidden;
      box-shadow: inset 0 -5px 10px -3px color(var(--dark) alpha(10%)),
  inset 0 -3px 5px -3px color(var(--dark) alpha(30%));
      background:url("../images/wave-posterw.jpg");
      background-size: cover;
      background-position: center 85%;
      box-shadow: inset 0 -5px 10px -3px color(var(--dark) alpha(10%)),
  inset 0 -3px 5px -3px color(var(--dark) alpha(30%));
      
    } /*logo svg*/
    & .cls-1, & .cls-2{
      fill:color(var(--dark-blue) lightness(99%));

      @media (--viewport-large){
          fill:var(--blue);
      }
    }  
  }
  
    
  
  & .page-title{
    font-size: calc(var(--m3) * var(--m3)em);
    margin-bottom:calc(var(--m)/8)em ;
    text-align: center;
    & span{
      font-weight: 300;
      font-size: 30px;
      text-align: left;
    }
    color:color(var(--dark-blue) lightness(99%));
    @media(--viewport-medium){
      font-size: calc(var(--m4) * var(--m4)em);
      text-align: left;
      
      & span{
        font-size: 48px; 
      }
    }
    @media(--viewport-large){
      color:var(--dark-blue);
    }
  }
  & .page-description{
    z-index: 2;
  }
  & .title-description{
    font-size: calc(var(--m4)/2)em ;
    font-family: var(--font-sans);
    color: var(--white);
    @media(--viewport-medium){
      width:75%;
      /* color: var(--dark); */
    }
    @media(--viewport-large){
      width:75%;
      color: var(--dark);
    }
  }
  & .lead-container{
    text-align:left;
    /* font-size: var(--m)em; */
    font-style:normal;
    margin:var(--m4)em 0;
    @media (--viewport-medium){
      margin-top: 3em;
      font-size: var(--m)em;
    }

    & p{
      font-size: 17px;
      font-family: var(--font-sans);
      font-weight:400;
    }
  }
  & .main-content h3{
    font-family:"lingua franca";
    font-size: 2.0736em;
    letter-spacing: -0.02em;

  }
  & .main-content p{
    font-size: 1.125em;
    font-family:autor;
    
  }
  & .main-content ul{
    display: inline-block;
    padding-left: 0;
    @media( --viewport-medium){
      padding-left: 5px;
    }
  }
  & .main-content li{
    width:auto;
    font-size: 1.125em;
    list-style:none;
    position: relative;
    margin-right: 1em;
    padding: .3em 1em;
    transform: translateX(20px);
    /* background:color(var(--dark) lightness(92%)); */
    background:none;
    &::before{
      
      position: absolute;
      content:"";
      background-image:url('/images/dropsx2.svg');
      width:.7em;
      height: .7em;
      transform: translate(-40px, 40%);
      background-repeat:no-repeat;
      background-size:contain;
    }
    &:nth-child(odd){
      /* background: linear-gradient(to bottom, color(var(--dark) lightness(100%)), color(var(--dark) lightness(80%))); */
      border-radius:0;
      color:color(var(--dark) lightness(30%));
      /* background:var(--white); */
      background:none;
      @media (--viewport-medium){
        /* border-radius:999px; */
      }
      /* box-shadow:
      inset 0 3px 5px -3px color(var(--dark) alpha(10%)),
      inset 0 5px 10px -5px color(var(--dark) alpha(5%)), 
      inset 0 -3px 5px -3px color(var(--dark) alpha(30%)),
      inset 0 -5px 10px -5px color(var(--dark) alpha(10%)); */
    }
  }
}
.product{
  display: flex;
  & table{
    border-spacing: 0;
    width: 100%;
    & td{
      font-weight:bold;
    }
    & th, & td{
      border-bottom: 1px solid color(var(--dark) lightness(90%));
    }
    & th{
      text-align: left;
      padding: .5em .5em .5em 0;
      
      font-weight:normal;
    }
    & .thname{
      font-weight: bold;
      text-transform: uppercase;
      padding-top: var(--m3)em;
      border-bottom:none;
      color: color(var(--dark) lightness(30%));
    }
  }
  
    

    & .product-button{
      margin-top:var(--m2)em;
    }
  
  
  & .product-fuel{
    fone-size: var(--m3);
    & span{
      font-size: smaller;
      margin-top:var(--m)em;
      font-weight:400;
      &::before{
        content:"Name: ";
      }
    }
  }
}
.contact-header{
  font-weight: normal;

}
.team-container{
  min-height:400px;
  display: flex;
  flex-direction:column;
  align-items:center;
  margin-bottom: 50px;
  @media (--viewport-medium){
    flex-direction: row;
    flex-wrap:wrap;
    margin-top: 100px;
    margin-bottom: 50px;
    justify-content:space-between;
  }
}
.member{
  text-align:center;
  align-self:center;
  margin-top: calc(var(--m4) *2em);
  @media (--viewport-medium){
    margin-top: calc(var(--m2) *2em);
  }
  & .image {
    margin-bottom: var(--m)em;
    & img{
      border-radius:20%;
    }
  }
  & .bio{
    & .name{
      margin-bottom: 5px;
      padding-bottom: 0;
      text-align: center;
    }
    & .position {
      text-transform: uppercase;
      font-weight: 400;
      letter-spacing: -0.02em;
      color: color(var(--dark) lightness(50%));
    }
    & .contact{
      & .contact-details{
        margin-bottom: 0;
        & a{
          display: block;
          color: var(--dark-blue);
        }
      }
    }
  & .details-position{
    font-family:var(--font-serif);
    color:var(--dark-blue);
    font-weight:600;
  }
  }
}
.product-button.red{
  background: linear-gradient( to top, darkred 0%, red 100%);
  color: var(--white);
  margin-bottom:2em;
}
#buy.product-button{
  /* color: color(var(--blue) blackness(10%)); */
  color: var(--blue) ;
  font-weight:600;
}
.just-link{
  
  @media(--viewport-medium){
    background:none;
    border:none;
    /* color:darkred; */

    &:hover{
      background:none;
    }
  }
}
.background-overlay{
  visibility:hidden;
  opacity:0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: color(var(--dark-blue) alpha(93%));
  top: 0;
  left: 0;
  transition: all .35s cubic-bezier(0.56, 0.01, 0.24, 1)  0s;
  z-index: 150;
  
}
.background-visible{
   @media(--viewport-medium){
    transform:translateX(0);
    visibility:visible;
    opacity:1;
   }
  
}
.bio-details{
  position: fixed;
  transform:translateX(100%);
  background-color: color(var(--dark) lightness(100%));
  background: linear-gradient(to top, color(var(--dark) lightness(90%)) 0%, color(var(--dark) lightness(100%)) 70%);
  z-index: 200;
  transition: all .3s ease-out;
  visibility: hidden;
  top: 0;
  right: 0;
  height: 100vh;
  width:100vw;
  overflow: auto;
  -webkit-overflow-scrolling:touch;
  box-shadow: inset 5px 0 15px -5px color(var(--dark) alpha(40%)),
  inset 5px 0 5px -5px color(var(--dark) alpha(50%));
  @media(--viewport-medium){
    height: 100vh;
    width:50vw;
    max-width: 500px;
    top: 0;
    right: 0;
  }

  & img{
    width:100%
  }
  & p {
    text-align: left;
    font-size:16px !important;
  }

  & .bio-wrapper{
    padding: 1em 1em 2em 1em;
    & ul{
      padding-left:0;
      display: block;

      & li {
        font-size:inherit;
        font-weight: normal;
        margin-right: 0;
        padding: 0.12em 0;
        text-align: left;
        background:none;
        transform: translateY(0);
        margin-left: 20px;
        &::before{
          transform: translate(-20px, 45%);
        }
      }
      & li:nth-child(odd){
        background:none;
      }
    }
  }
  
}
.show-bio{
  transform:translateX(0);
  visibility: visible;
  /* opacity:1; */
}
@supports (display: grid) {
  .product{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "header"
    "image" 
    "description";

    @media(--viewport-medium){
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas:
    "header header "
    "description image";
    }
    & .product-fuel{
      grid-area: header;
    }
    & .product-image{
      grid-area: image;
      justify-self: center;
    }
    & .product-desc{
      grid-area: description;
    }
  }
  .member{
    @media (--viewport-medium){
      display: grid;
      grid-template-columns:150px 1fr;
      text-align: left;
      grid-gap: 30px;
      & .bio{
        
        & .name{
          margin-top: 0;
          padding-top: 0;
          text-align: left;
        }
      }
    } 
  }
}


.btn{
    display: inline-block;
    border:  1px solid color(var(--dark) alpha(70%));
    padding: .6944em;
    border-radius: 5px;
    color: var(--dark);
    background: color(rgb(226, 240, 247) alpha(70%));
    text-transform: uppercase;
    margin:1em 0;
    @media (--viewport-large){
      font-size:.8333em;
      margin-top:0;
      font-weight: 600;
    }
  }

.main-content{

  & h1, & h2, & h3{
    @media (--viewport-medium){
  
    }
    & a{
      white-space: nowrap;
    }
  }
}


.contact-data{
  margin: .5em 0 !important;
  padding: 5px;
 & a{
   display: block;
   display: flex;
   align-items: center;
   font-family:var(--font-system);
   font-family:var(--font-sans);
   color:var(--dark);
   flex-wrap:wrap;
   & svg{
     fill: var(--blue);
     width:calc(var(--unit)*1.44*1.2);
     height: calc(var(--unit)*1.44*1.2);
   }
 }
}

.products-grid{
  & table{
    width: 100%;
  }
}
@supports (display: grid) {
  .products-list{
    display: grid;
    grid-gap: 10%;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

    @media (--viewport-medium){

    }
  }
  .product-item{
    & img{
      display: inherit;
      margin: 0 auto;
    }
  }
  
  .section-line{
    justify-content:center;
  }
   
}

