.page{
  & .header-wrapper{
    min-height:250px;
     background:linear-gradient(to bottom, rgba(170,170,170,1), rgba(255,255,255,1) 100%);
      background-size: 100% 100%;
      background-repeat: no-repeat;
    @media (--viewport-large){
      min-height:auto;
      position: relative;
      overflow: hidden;
      /* height:400px; */
      /* background: radial-gradient(ellipse at center, transparent 0%, rgba(13,105,175,1) 100%); */
     
      background:url("../images/wave-posterw.jpg");
      background-size: cover;
      background-position: center 65%;
      
    }  
  }
  & .page-title{
    font-size: calc(var(--m4) * var(--m4)em);
    & span{
      font-weight: 300;
      font-size: 48px;
    }
  }
  & .page-description{
    z-index: 2;
  }
  & .main-content h3{
    font-family:"lingua franca";
    color:var(--dark);
    font-size: 2.0736em;
    letter-spacing: -0.02em;
  }
  & .main-content p{
    font-size: 1.125em;
    font-family:autor;
    
  }
  & .main-content ul{
    display: inline-block;
    padding-left: 20px;
    @media( --viewport-medium){
      padding-left: 40px;
    }
  }
  & .main-content li{
    width:auto;
    font-size: 1.125em;
    list-style:none;
    position: relative;
    margin-right: 1em;
    padding: .3em .5em;
    transform: translateX(20px);
    &::before{
      margin-right: 10em;
      position: absolute;
      content:"";
      background-image:url('/images/drop.svg');
      width:.7em;
      height: .7em;
      transform: translate(-30px, 40%);
      background-repeat:no-repeat;
      background-size:contain;
    }
    &:nth-child(even){
      /* color:color(var(--dark) lightness(45%)); */
      background:linear-gradient(to top, rgba(235,235,235) 0%, #fafafa 20%, #fff 30%, #fff 70%,#fafafa 80%, rgba(235,235,235) 100%);
      border-radius:10px;
    }
  }
}
.product{
  display: flex;
  & table{
    border-spacing: 0;
    width: 100%;
    & td{
      font-weight:bold;
    }
    & th, & td{
      border-bottom: 1px solid color(var(--dark) lightness(50%));
    }
    & th{
      text-align: left;
      padding: .5em .5em .5em 0;
      
      font-weight:normal;
    }
    & .thname{
      font-weight: bold;
      text-transform: uppercase;
      padding-top: var(--m3)em;
      border-bottom:none;
    }
  }
  & .buy-button{
    margin-top:var(--m)em;
  }
  & .product-fuel{
    
    & span{
      font-size: smaller;
      display: inline-block;
      margin-top:var(--m)em;
      font-weight:400;
      &::before{
        content:"Name: ";
      }
    }
  }
}
.contact-header{
  font-weight: normal;
  /* text-transform: uppercase; */
}
@supports (display: grid) {
  .product{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "header"
    "image" 
    "description";
    @media(--viewport-medium){
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas:
    "header header "
    "description image";
    }
    & .product-fuel{
      grid-area: header;
    }
    & .product-image{
      grid-area: image;
      justify-self: center;
    }
    & .product-desc{
      grid-area: description;
    }
  }
}


.btn{
    /* margin-top: 1em; */
    display: inline-block;
    border:  1px solid color(var(--dark) alpha(70%));
    padding: .6944em;
    border-radius: 5px;
    color: var(--dark);
    background: color(rgb(226, 240, 247) alpha(70%));
    text-transform: uppercase;
    margin:1em 0;
    @media (--viewport-large){
      font-size:.8333em;
      margin-top:0;
      font-weight: 600;
    }
  }











/* .main-content{

  & ul{
    margin: 1.3em 0;
    list-style:none;
    & li{
      position: relative;
      &::before{
        content:"";
        background: linear-gradient(-45deg, var(--dark) 35%, var(--yellow) 35%, var(--yellow) 65%, var(--dark) 65%);
        width: calc(var(--unit)/2.48832);
        height: calc(var(--unit)/2.48832);
        position: absolute;
        left:-var(--unit);
        border-radius:50%;
        top:0;
        transform: translateY(100%);
      }
    }
  }
} */

.main-content{

  & h1, & h2, & h3{
    padding:.5em 0;
    font-size:1.728em;
    font-size:var(--m2)em;
    position: relative;
    text-align: left;
    z-index: 1;
    margin-top: 0;
    /* background: linear-gradient(to right, color(var(--dark) lightness(60%)), transparent 1%);
    background-color: color(var(--dark) lightness(95%));
    padding-left:calc(var(--unit)/calc(1.2*1.2*1.2) - calc(var(--unit)/6));
    border-left: calc(var(--unit)/6) solid var(--blue); */
    color:var(--blue);
    @media (--viewport-medium){
      margin-top: 1.414em;
      font-size:var(--m4)em;
      margin-left: 0;
      margin-right: 0;
      background: transparent;
      background-color: transparent;
      padding-left: 0;
      border-left:none;
      &::before{
        content:"";
        position: absolute;
        width: 2em;
        height: 2em;
        background-color: var(--yellow);
        top: 3px;
        left: 0;
        transform: translate(-40%,0);
        z-index: -1;
        border-radius:50%;
      }
    }
    & a{
      white-space: nowrap;
    }
  }
}


.contact-data{
  margin: .5em 0 !important;
  padding: 5px;
 & a{
   display: block;
   display: flex;
   align-items: center;
   font-family:var(--font-system);
   font-family:var(--font-sans);
   color:var(--dark);
   flex-wrap:wrap;
   & svg{
     fill: var(--blue);
     width:calc(var(--unit)*1.44*1.2);
     height: calc(var(--unit)*1.44*1.2);
   }
 }
}

.products-grid{
  & table{
    width: 100%;
  }
}
@supports (display: grid) {
  .products-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10%;

    grid-template-areas: 
    "product ";
    @media (--viewport-medium){
      grid-template-columns: 45% 45%;
      grid-template-areas: 
    "product product";
    }
  }
  .product-item{
    grid-area: product;
    & img{
      display: inherit;
      margin: 0 auto;
    }
  }
  
  .section-line{
    justify-content:center;
  }
   
}

