:root{
/*
 * COLORS
 */
  --white:#ffffff;
  --black:#000000;

  
  --blue:#0d69b1;
  --dark:#3a3a3a;

  --dark-blue:color(var(--blue) lightness(-21%));

  --body-background:color(var(--dark) lightness(90%));

  --color-link:var(--blue);

/*
 * FONTS
 */
  --font-system:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  --font-serif: "Lingua Franca";
  --font-serif-optimized: "pt serif opt";
  /* --font-sans: "railwayfont"; */
  --font-sans: "autor";
  --font-weight-normal:400;
  --font-weight-medium:500;
  --font-weight-bold:700;
  --font-weight-xbold:800;
  --font-weight-black:900;
  --font-size-base: 1em;
  /* --font-size-base: 1em; */
/*
 * BOX SHADOW
 */
  --box-shadow: 0 0 10px color(var(--dark) alpha(90%));

/*
 * MEDIA QUERIES
 */

  @custom-media --viewport-small (width >= 576px);
  @custom-media --viewport-medium (width >= 768px);
  @custom-media --viewport-large (width >= 992px);
  @custom-media --viewport-xlarge (width >= 1200px);

/*
 * HEADINGS CUSTOM SELECTOR
 */
  @custom-selector :--headings h1,h2,h3,h4,h5,h6;

/*
 * MARGINS & PADDINGS
 */
  /* multipliers */
  --m: 1.2;
  --m2: 1.44;
  --m3: calc(var(--m)*var(--m2));
  --m4: calc(var(--m2)*var(--m2));

  /* Unit for calculations = font base size */
  --unit: var(--font-size-base);

  --margin-small: var(--unit);
  --margin-large: calc(var(--unit)*var(--m4));
  --padding-small: var(--unit);
  --padding-large: calc(var(--unit)*var(--m4));
}