<!doctype html>
<html lang="en-EN">

  {{ block "head" . }}

  {{ end }}
  <!-- <body class="{{ if not .IsHome  }}page{{end}}" > -->
  <body {{ if not .IsHome  }}class="page"{{end}}>
    <div class="wrapper{{ with .Page.Params.people}}-people{{end}}">
      <span class="background-overlay"></span>
      {{ block "header" . }}

      {{ end }}

      {{ block "main" . }}
      
      {{ end }}

      {{ block "footer" . }}
      
      {{ end }}

    </div>
    <script async src="app.js"></script>

    {{if .IsHome}}
    
    <script async defer>
      let width = window.innerWidth;
      function loadVideo(width) {
        let node = document.getElementById("videoWrap");
        let video = document.createElement('video');
        node.childNodes[1].classList.add("fade-out");
    
    
        video.poster = "images/wave-poster.jpg";
        video.src = "video/wave" + width + ".mp4";
        // video.autoplay = true;
        video.muted = true;
        video.loop = true;
        video.setAttribute("playsinline", "");
        node.appendChild(video);
        node.childNodes[1].style.display = "none";
        let vid = document.querySelector("video");
        vid.pause();
        vid.play();
    
      }
      if (width >= 992 && width <= 1400) {
        loadVideo(720);
      } else if (width > 1400) {
        loadVideo("");
      }
    </script>
    
    {{end}}
  </body>
  </html>