<!doctype html>
<html lang="en-EN">

  {{ block "head" . }}

  {{ end }}
  <!-- <body class="{{ if not .IsHome  }}page{{end}}" > -->
  <body  >
    <div {{ if not .Page.Params.people}} id="barba-wrapper"{{end}}>
    <div class="wrapper{{ with .Page.Params.people}}-people{{end}} {{ if not .Page.Params.people}} barba-container {{end}} {{ if not .IsHome  }}page{{end}}" 
    {{if .IsHome }} data-namespace="homepage"{{end}}
    {{if eq .Name "Contact us"}} data-namespace="contact"{{end}}>
      <span class="background-overlay"></span>
      {{ block "header" . }}

      {{ end }}

      {{ block "main" . }}
      
      {{ end }}

      {{ block "footer" . }}
      
      {{ end }}

    </div>
  </div>
    <script async src="app.js"></script>



<script>
let width = window.innerWidth;

function loadVideo(width) {
  let node = document.getElementById("videoWrap");
  let video = document.createElement('video');
  node.childNodes[1].classList.add("fade-out");

  video.poster = "images/wave-poster.jpg";
  video.src = "video/wave" + width + ".mp4";
  // video.autoplay = true;
  video.muted = true;
  video.loop = true;
  video.setAttribute("playsinline", "");
  node.appendChild(video);
  node.childNodes[1].style.display = "none";
  let vid = document.querySelector("video");
  vid.pause();
  vid.play();
}
if (width >= 992 && width <= 1400) {
  loadVideo(720);
} else if (width > 1400) {
  loadVideo("");
}
</script>



  </body>
  </html>