
<head>
  <meta name="robots" content="noindex, nofollow">
  <meta charset="utf-8">
  <base href="{{ $.Site.BaseURL }}">
  <!-- <title>{{if .IsHome}}{{ $.Page.Title }}{{ else }}{{ $.Page.Title }} | {{ .Site.Title }}{{end}}</title> -->
  <title>{{ .Site.Title}} | {{ .Title }}</title>
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="css/main.css"/>
  <!-- <link rel="preload" href="{{ if .IsHome }}{{ .Site.BaseURL}}/images/main.jpg{{else}}{{with .Params.image }}{{ $.Site.BaseURL }}{{ . }}.jpg{{end}}{{end}}" as="image"> -->
  <!-- <link rel="preconnect" href="https://www.google-analytics.com"> -->
	<!-- <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin> -->
  <!-- <meta name="google-site-verification" content="dNLjUUl60Dfcjqi2-0g075ToACnePh4rfQJBP8bf9Cs" /> -->
  <!-- {{ partial "head/favicons.html" .}}
  {{ partial "head/seo.html" .}}-->
  {{ partial "head/fontobserver.html" .}} 
  
	<style>.page .products-list{grid-gap:6em}</style>
</head>
