{{ define "head"}} 
{{ partial "head/head.html" . }} 
{{ end }} 
{{ define "header"}} 
{{ partial "header" .}} 
{{ end }} 
{{ define "main" }}


<section class="products">
  <div class="product-list container">
    <h3 class="products-headline">Best sellers  <span class="section-link margin-top-mobile content-centered">
        <a href="/products/" class="button with-text" data-letters="All Products">All Products</a>
      </span></h3>
    

    {{ range first 3 (where .Data.Pages.ByTitle.Reverse  "Section" "products" ) }}
            {{ if not .Params.product.type.diesel}}
            <div class="product-item">
              {{ with .Params.product.image }}
                <img src="{{ . }}" alt="">
              {{ end }}
                <h4 class="product-name">{{ .Params.product.name }}</h4>
                <table style="width:100%">
                  <tbody>
                    <tr>
                      <th>Water purification amount</th>
                    </tr>
                    <tr>
                      <td>Sweet water:</td>
                      <td><strong>{{ .Params.product.wpa.sweetwater}}</strong> </td>
                      <td><strong><sup>l</sup>&frasl;<sub>h</sub></strong> </td>
                    </tr>
                    <tr>
                      <td>Sea water:</td>
                      <td><strong>{{ .Params.product.wpa.seatwater}}</strong></td>
                      <td><strong><sup>l</sup>&frasl;<sub>h</sub></strong></td>
                    </tr>
                    
                  </tbody>
                </table> 
                <span class="section-link margin-top content-centered">
                  <a href="{{ .RelPermalink }}" class="button with-text" data-letters="details">details</a>
                </span>
                <span class="section-line">&sdot;</span>
              </div>
              
            {{ end }}
            {{ end }}
  </div>

</section>

{{ end }} 
  {{ define "footer"}} 
  {{ partial "footer" .}}
<!-- <script async>
  let width = window.innerWidth;
  function loadVideo(width) {
    let node = document.getElementById("videoWrap");
    let video = document.createElement('video');
    node.childNodes[1].classList.add("fade-out");


    video.poster = "images/wave-poster.jpg";
    video.src = "video/wave" + width + ".mp4";
    // video.autoplay = true;
    video.muted = true;
    video.loop = true;
    video.setAttribute("playsinline", "");
    node.appendChild(video);
    node.childNodes[1].style.display = "none";
    let vid = document.querySelector("video");
    vid.pause();
    vid.play();

  }
  if (width >= 992 && width <= 1400) {
    loadVideo(720);
  } else if (width > 1400) {
    loadVideo("");
  }
</script> -->

{{ end }}