{{ define "head"}} 
{{ partial "head/head.html" . }} 
{{ end }} 
{{ define "header"}} 
{{ partial "header" .}} 
{{ end }} 
{{ define "main" }}
<section class="lead container">
  <div class="lead-container">
    <!-- <span class="icon icon-drop"><svg><use xlink:href="#drop" /></svg></span> -->
    <p><strong>Mayo Water Solutions</strong> are an engineering provider that is solely focused on water in all it’s forms and the challenges
      in providing solutions for drinking water, irrigation water, municipal wastewater as well as industrial water.</p>
  </div>

</section>


<section class="container section">
  <img class=" section-image" src="https://picsum.photos/479/269" alt="">
  <h3 class=" section-header">Our Mission</h3>
  <p class=" section-text">
    We are passionate about our work and strive to be a reliable partner in the delivery of water projects.<br><br>
    Our company has been structured to provide the appropriate services to clients who need technical solutions in relation to water. This means we can not only provide the theoretical technical solution, but we can provide the engineered solution to everyday challenges.
    <span class="section-link">
      <span class="icon icon-drop">
        <svg>
          <use xlink:href="#drop" />
        </svg>
      </span>
      <a href="/pages/our-services/" class="button" data-letters="Our Services">Our Services</a>
    </span>
  </p>
  <span class="section-line">&sdot;</span>
</section>

<section class="products">
  <div class="product-list container">
    <h3 class="products-headline">Best sellers  <span class="section-link">
        <a href="/products/" class="button" data-letters="Our Products">Our Products</a>
      </span></h3>
    

    {{ range first 3 (where .Data.Pages.ByTitle.Reverse  "Section" "products" ) }}
            {{ if not .Params.product.type.diesel}}
            <div class="product-item">
              {{ with .Params.product.image }}
                <img src="{{ . }}" alt="">
              {{ end }}
                <h4 class="product-name">{{ .Params.product.name }}</h4>
                <table style="width:100%">
                  <tbody>
                    <tr>
                      <th>Water purification amount</th>
                    </tr>
                    <tr>
                      <td>Sweet water:</td>
                      <td><strong>{{ .Params.product.wpa.seawater}}</strong> </td>
                      <td><strong><sup>l</sup>&frasl;<sub>h</sub></strong> </td>
                    </tr>
                    <tr>
                      <td>Sea water:</td>
                      <td><strong>{{ .Params.product.wpa.sweetwater}}</strong></td>
                      <td><strong><sup>l</sup>&frasl;<sub>h</sub></strong></td>
                    </tr>
                    
                  </tbody>
                </table> 
                <span class="section-link">
                  <a href="{{ .RelPermalink }}" class="product-button" data-letters="details">details</a>
                </span>
                <span class="section-line">&sdot;</span>
              </div>
              
            {{ end }}
            {{ end }}
  </div>

</section>

{{ end }} 
  {{ define "footer"}} 
  {{ partial "footer" .}}
<script>
  let width = window.innerWidth;
  function loadVideo(width) {
    let node = document.getElementById("videoWrap");
    let video = document.createElement('video');
    node.childNodes[1].classList.add("fade-out");


    video.poster = "images/wave-poster.jpg";
    video.src = "video/wave" + width + ".mp4";
    video.autoplay = true;
    video.muted = true;
    video.loop = true;
    video.setAttribute("playsinline", "");
    node.appendChild(video);
    node.childNodes[1].style.display = "none";
  }
  if (width >= 992 && width <= 1400) {
    loadVideo(720);
  } else if (width > 1400) {
    loadVideo("");
  }
</script> {{ end }}