{{ define "head"}}
  {{ partial "head/head.html" . }}
{{ end }}

{{ define "header"}}
  {{ partial "header" .}}
{{ end }}

{{ define "main" }}
<section class="lead container">
  <div class="lead-container">
    <!-- <span class="icon icon-drop"><svg><use xlink:href="#drop" /></svg></span> -->
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae adipisci nesciunt odio, libero!</p>
  </div>

</section>


<section class="container section">
  <img class=" section-image" src="https://picsum.photos/479/269" alt="">
  <h3 class=" section-header">Our Mission</h3>
  <p class=" section-text">
      I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful.
      <span class="section-link">
        <span class="icon icon-drop"><svg><use xlink:href="#drop" /></svg></span>
        <a href="" class="button" data-letters="read more">read more</a>
      </span> 
  </p>
  <span class="section-line">&#9702;</span>
   
    <!-- <div class="drops">  
      
      <span class="icon icon-drop"><svg><use xlink:href="#drop" /></svg></span>
    </div> -->
</section>
<section class="container section">
  <img class=" section-image" src="https://picsum.photos/480/270" alt="">
  <h3 class=" section-header">Another, another very long header, header to impress!</h3>
  <p class=" section-text">
    But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes.
    <span class="section-link">
      <span class="icon icon-drop"><svg><use xlink:href="#drop" /></svg></span>
      <a href="" class="button" data-letters="read more">read more</a>
    </span> 
  </p>
  <span class="section-line">&#9702;</span>
</section>
<section class="products">
  <div class="product-list container">
    <h3 class="products-headline">Best sellers</h3>
    <div class="product-item">
      <img src="/images/e-40.png" alt="">
      <h4 class="product-name">E&ndash;400H</h4>
      <table>
        <tbody>
          <tr>
            <th>Water purification amount</th>
          </tr>
          <tr>
            <td>See water</td>
            <td><strong>40 <sup>l</sup>&frasl;<sub>h</sub> </strong></td>
          </tr>
          <tr>
            <td>Sweet water</td>
            <td><strong>80 <sup>l</sup>&frasl;<sub>h</sub> </strong></td>
          </tr>
        </tbody>
      </table>
      <span class="section-link">
        <a href="" class="product-button" data-letters="details">details</a>
      </span>
    </div>
    <div class="product-item">
      <img src="/images/e-100.png" alt="">
      <h4 class="product-name">E&ndash;100</h4>
      <table>
        <tbody>
          <tr>
            <th>Water purification amount</th>
          </tr>
          <tr>
            <td>See water</td>
            <td><strong>100 <sup>l</sup>&frasl;<sub>h</sub></strong> </td>
          </tr>
          <tr>
            <td>Sweet water</td>
            <td><strong>200 <sup>l</sup>&frasl;<sub>h</sub></strong> </td>
          </tr>
        </tbody>
      </table>
      <span class="section-link">
        <a href="" class="product-button" data-letters="details">details</a>
      </span>
    </div>
    <div class="product-item">
      <img src="/images/e-250.png" alt="">
      <h4 class="product-name">E&ndash;250</h4>
      <table>
        <tbody>
          <tr>
            <th>Water purification amount</th>
          </tr>
          <tr>
            <td>See water</td>
            <td><strong>250 <sup>l</sup>&frasl;<sub>h</sub></strong> </td>
          </tr>
          <tr>
            <td>Sweet water</td>
            <td><strong>500 <sup>l</sup>&frasl;<sub>h</sub></strong> </td>
          </tr>
          
        </tbody>
      </table> 
      <span class="section-link">
        <a href="" class="product-button" data-letters="details">details</a>
      </span>
    </div>
  </div>
</section>

{{ end }}

{{ define "footer"}}
  {{ partial "footer" .}}
  <script>
    let width = window.innerWidth;
    function loadVideo(width){
      let node = document.getElementById("videoWrap");
      let video = document.createElement('video');
      video.poster = "images/water-wave-min.jpg";
      video.src = "video/wave"+width+".mp4";
      video.autoplay = true;
      video.muted = true;
      video.loop = true;
      video.setAttribute("playsinline", "");
      node.appendChild(video);
    }
    if( width >= 992 && width <= 1400){
      loadVideo(720);
    } else if( width > 1400){
      loadVideo("");
    }
  </script>
{{ end }}
