{{ define "head" }}
  {{ partial "head/head.html" . }}
{{ end}}

{{ define "header" }}
<div class="header-wrapper">
  {{ partial "header" . }}
</div>  
{{ end}}

{{ define "main" }}
  <main class="container">
      {{ if  .Params.map }}
      <h2 class="contact-header">Feel free to contact us.</h2>
      <p class="contact-data"><a href="/" class="phone"><svg class="icon"><use xlink:href="#marker" /></svg>Qatar Somewhere 14 </a></p>
    <p class="contact-data"><a href="tel:+00000000" class="phone"><svg class="icon"><use xlink:href="#mobile" /></svg>+00 123 123 123</a></p>
    <p class="contact-data"><a href="mailto:info@mayowatersolutions.com" class="mail"><svg class="icon"><use xlink:href="#mail" /></svg>info@mayowatersolutions.com</a></p> 

      {{ partial "map" . }}
      {{ end}}
    <article class="main-content">
        
        {{.Content}}
    </article>

  </main>
{{ end }}

{{ define "footer" }}
  {{ partial "footer" . }}
{{ end}}